div.DraftEditor-root {

  position: absolute;
  min-width: 10rem;
  min-height: 18rem;
  overflow-y: auto;
  margin: 0;
  padding: 0;
  background-color: beige;
}

div.DraftEditor-editorContainer, div.public-DraftEditor-content {
  height: 100%;
  width: 100%;
}

div.DisplayContainer {
  border: 1px solid  beige;
  margin: 0;
  padding: 0;
  /* min-width: 220px;
  min-height: 320px; */
  min-width: 10rem;
  min-height: 18rem;
  background-color: beige;
}
