div.DraftEditor-root {
  height: 100%;
  position: absolute;
  width: 100%;
  overflow-y: auto;
  background-color: beige;
}

div.DraftEditor-editorContainer, div.public-DraftEditor-content {
  height: 100%;
  width: 100%;
}

div.DisplayContainer {
  border: 1px solid  beige;
  min-width: 240px;
  min-height: 320px;
  background-color: beige;
}
