  div.ToolbarContainer {
    border: 1px solid #000;
    display: flex;
    flex-direction: row;
    align-items: top;
    min-width: 22.6rem;
    min-height: 13.5rem;
  
    padding: 0px;
    margin-bottom: 8px;
    border-radius: 2px 2px 0 0;
    box-shadow: 0px 0px 3px 1px rgba(15, 15, 15, 0.17);  
  }

  div.RichEditor-root {
    position: absolute;
    min-width: 22.6rem;
    min-height: 13.4rem;
    max-width: 22.6rem;
    max-height: 13.6rem; 
    overflow-y: auto;
    margin: 0;
    padding: 0;
    background-color: beige;
  }
  
  div.DraftEditor-root {
    position: absolute;
    min-width: 22.6rem;
    min-height: 13.4rem;
    max-width: 22.6rem;
    max-height: 13.6rem; 
    overflow-y: auto;
    margin: 0;
    padding: 0;
    background-color: beige;
  }

  div.DraftDisplay-root {
    border: 1px solid #000;
    /* border-bottom: 1px solid #000; */
    /* max-height: 200px; */
    position: absolute;
    /* margin: 0px; */
    height: 77%;
    /* max-width: 300px; */
    width: 95%;
    align-items: top, bottom, right;
    /* padding-left: 2px; padding-right: 2px; margin-left: 2px; margin-right: 2px; */
    overflow-y: auto;
    background-color: beige;
  }

  div.DraftEditor-editorContainer, div.public-DraftEditor-content {
    height: 100%;
    width: 100%; 
  }
  
  div.ToolbarContainer {
    border: 1px solid #000;
    display: flex;
    flex-direction: row;
    align-items: top;
    max-width: 22.6rem;
    max-height: 13.6rem; 
    padding: 0px;
    margin-bottom: 8px;
    border-radius: 2px 2px 0 0;
    box-shadow: 0px 0px 3px 1px rgba(15, 15, 15, 0.17);  
  }
  