body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

.form-group {
  /* width: 275px; */
  margin: 0px auto;
}

.input-group {
  /* width: 275px; */
  margin: 0px auto;
}

.centered {
  text-align: center;
}

.weather {
  margin-top: 30px;
}

.imgblock {
  width: 320px;
  height: 240px;
}

.imgbox {
  width: auto;
  max-width: 320px;
  height: auto;
  max-height: 240px;
}

div.DraftEditor-root {
  border-top: 1px solid #000;
  /* border-bottom: 1px solid #000; */
  /* max-height: 200px; */
  position: absolute;
  /* margin: 0px; */
  height: 77%;
  /* max-width: 300px; */
  width: 95%;
  align-items: top, bottom, right;
  /* padding-left: 2px; padding-right: 2px; margin-left: 2px; margin-right: 2px; */
  overflow-y: auto;
  background-color: beige;
}

div.DraftDisplay-root {
  border: 1px solid #000;
  /* border-bottom: 1px solid #000; */
  /* max-height: 200px; */
  position: absolute;
  /* margin: 0px; */
  height: 77%;
  /* max-width: 300px; */
  width: 95%;
  align-items: top, bottom, right;
  /* padding-left: 2px; padding-right: 2px; margin-left: 2px; margin-right: 2px; */
  overflow-y: auto;
  background-color: beige;
}
div.DraftEditor-editorContainer, div.public-DraftEditor-content {
  height: 100%;
  width: 100%;

}

div.ToolbarContainer {
  border: 1px solid #000;
  display: flex;
  flex-direction: row;
  align-items: top;
  min-width: 320px;
  min-height: 240px;

  padding: 0px;
  margin-bottom: 8px;
  border-radius: 2px 2px 0 0;
  box-shadow: 0px 0px 3px 1px rgba(15, 15, 15, 0.17);  
}

div.ScrollBar {
  padding: 180px;
  margin-top: 10px;
}

div.NoScrollBar {
  overflow: hidden;
  top: 0;
  width: 100%;
}

div.StickHD {
  position: sticky;
  top: 0;
  background: white;
}

div.padding70 {
  padding-top: 45px;
}

div.padding05 {
  padding-top: 5px;
}

div.padding10 {
  padding-top: 16px;
}

span.SmallFont {
  font-size: 60%;
  margin-top: 0px;
  padding-top: 0px;

}

span.LargeFont {
  font-size: 130%;


}

label.indented-checkbox-text
{
  
  display: block;
  position: relative;
  margin-left: 3rem;
  /* margin-top: -1.4em;  /* make this margin match whatever your line-height is */
  /* line-height: 1.4em;  /* can be set here, or elsewehere */
}

FormGroup.margin-left 
{

  float: left;
  margin-left: 0em;
}

input[type="checkbox"]{
  width: 20px; /*Desired width*/
  height: 20px; /*Desired height*/
  margin-left: 1rem;
  padding-bottom: 0rem;
  margin-bottom: 0rem;
 
}

input[type=radio]{
  transform:scale(1.5);
  margin-right: 1rem;
  margin-bottom: 0rem;
  padding-bottom: 0rem;
}

.abc {
  color: red;
  background-color: 'blue';
  height: 4vh;
  width:100px;
  borderBottom: '10px dotted pink';
}

.react-select-container {
  background-color: 'red';
  color: red;
}

.blink {
  animation: blink 2s steps(5, start) infinite;
  -webkit-animation: blink 1s steps(5, start) infinite;
}
@keyframes blink {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink {
  to {
    visibility: hidden;
  }
}

div.notification-bottom {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  /* Rest of your styling */
}

.notification-close {
  position: absolute;
  right: 5px;
  top: 5px;
  /* This are approximated values, and the rest of your styling goes here */
}

Button.no-border {
  border: none;
  border-color: transparent;
}


